@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

a, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
    text-decoration: none;
    line-height: 1.2;
}
button:focus,
textarea:focus,
select:focus{
	outline: none!important;
	-webkit-appearance:none;
	box-shadow: none;
}
input:focus{
	outline: none!important;
}
a:active, a:focus {
  outline: 0;
  outline: none!important;
}

a,img,span,input,textarea,button,svg,path,circle {
	transition: .3s all ease;
}

a, span {
	display: inline-block;
}
a,span,img,input,button,svg {
	transition: .3s all ease;
}

.wrapper {
	overflow: hidden;
}



.wrapper__aside {
    width: 45.333%;
    z-index: 994;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    display: -moz-flex;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: url("../images/side-bg.png") no-repeat;
    background-size: cover;
}

aside {
	width: 100%;
	max-width: 760px;
}
.wrapper__aside .aside-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.wrapper__aside {
    padding-left: 30px;
    z-index: 2;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrapper__aside .aside ul li a {
	display: flex;
	align-items: center;
	color: #FFF;
	font-size: 18px;
	line-height: 400%;
}

.wrapper__aside .aside ul li a img {
	margin-right: 20px;
	height: 38px;
	width: 45px;
}
.wrapper__aside .aside__search {
    border-bottom: 1px solid #fff;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    padding-bottom: 10px;
    margin-top: 25%;
}
.wrapper__aside .aside__search div button {
    background: transparent;
    border: none;
    display: inline-block;
    padding: 0;
    color: #fff;
    outline-style: none;
    cursor: pointer;
}
.wrapper__aside .aside form input {
    border: none;
    background: transparent;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    vertical-align: middle;
    outline-style: none;
}
.wrapper__aside .aside form input::placeholder {
	color: #FFF;
	font-size: 16px;
	font-weight: 400;
	line-height: 207.5%;
}
.wrapper__aside .aside__search div img {
    margin-right: 20px;
    vertical-align: middle;
}

.wrapper__aside .aside-img img {
	height: auto;
}




.wrapper__content {
    margin-left: 45.333%;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(180deg, #F6F4F4 0%, rgba(189, 188, 188, 0.00) 100%);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
	align-items: flex-start;
	z-index: 3;
}
.wrapper__content .content-in {
	padding-left: 40px;
	padding-right: 40px;
}
.wrapper__content > * {
	width: 100%;
}

.header {
	padding-bottom: 40px;
}
.header .head__logo a {
	display: block;
	margin-left: -30px;
}

.main__sec {
	padding-top: 40px;
}
.main__sec .main__block img {
	height: 330px;
	width: 100%;
	border-radius: 5px;
}

.title h2 {
	color: #000;
	font-size: 32px;
	font-weight: 700;
	line-height: 142%;
	margin-bottom: 34px;
}

/* index news */
.index-news {
	padding-top: 84px;
}

.index-news .index-news__block {
	border-radius: 6px;
	box-shadow: 16px 13px 34px rgba(0, 0, 0, 0.05);
	transition: .3s all ease;
	background-color: #fff;
	overflow: hidden;
}
.index-news .index-news__block:hover {
	box-shadow: 5px 5px 34px rgba(0, 0, 0, 0.2);
}
.index-news .index-news__block a {
	display: block;
}
.index-news .index-news__block .news-block__img {
	height: 213px;
	overflow: hidden;
}
.index-news .index-news__block .news-block__img img {
	width: 100%;
	height: 100%;
}
.index-news .index-news__block:hover .news-block__img img {
	transform: scale(1.1);
}
.index-news .index-news__block .news-block__inner {
	background: #FFF;
	padding: 40px 12px 30px;
}
.index-news .news-block__inner .news-block__title {
	display: block;
	color: #000;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 10px;
}
.index-news .news-block__inner p {
	color: #4C4C4C;
	font-size: 16px;
	line-height: 137.5%;
	margin-bottom: 30px;
	height: 44px;
}
.index-news .news-block__inner span {
	color: #4C4C4C;
	font-size: 14px;
	line-height: 137.5%;
	display: block;
}
.index-news .news-block__inner .news-block__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 83px;
}




/* Магазины и развлечения */
.shop-fun {
	padding: 70px 0 170px;
}

.shop-fun .shop-tags {
	margin-bottom: 70px;
	display: flex;
	flex-wrap: wrap;
}
.shop-fun .shop-tags a {
	color: #474747;
	font-size: 20px;
	line-height: 142%;
	padding: 4px 25px;
}
.shop-fun .shop-tags a.active,
.shop-fun .shop-tags a:hover {
	color: #22508B;
	border-radius: 65px;
	background: #F0F0F0;
}

.shop-item {
	border-radius: 6px;
	background: #FFF;
	height: 233px;
	box-shadow: 16px 13px 34px rgba(0, 0, 0, 0.05);
	text-align: center;
	padding: 36px 36px 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.shop-item:hover {
	box-shadow: 5px 5px 34px rgba(0, 0, 0, 0.2);
}
.shop-item img {
	height: 160px;
	width: 100%;
	object-fit: contain;
}
.shop-item span {
	color: #000;
	font-size: 20px;
	line-height: 207.5%;
	line-height: 28px;
}
.shop-col {
	margin-bottom: 24px;
}

/* footer */
footer {
	background: #E8E6E6;
}
footer .ftr-logo {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding: 12px 10px 30px 80px;
}
footer .ftr-logo span {
	margin: 10px 0 5px;
	color: #000;
	font-size: 15px;
	font-weight: 300;
	line-height: 157%;
}

footer .ftr-social {
	display: flex;
	align-items: center;
	gap: 30px;
}

footer .ftr-center-col {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
footer .ftr-menu {
	padding: 24px 0 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
footer .ftr-menu a {
	color: #000;
	font-size: 16px;
	font-weight: 300;
	line-height: 190%;
}
footer .ftr-menu a:hover {
	color: #22508B;
}

footer .ftr-text {
	padding: 24px 0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;
}
footer .ftr-text p,
footer .ftr-text a {
	color: #000;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	line-height: 169.5%;
}
footer .ftr-text a {
	line-height: 1.2;
	border-bottom: 1px dotted #000;
}
footer .ftr-text a:hover {
	border-bottom-style: solid;
}









@media only screen and (max-width: 1400px){
	.wrapper__content {
		margin-left: 35.333%;
	}
	.wrapper__aside {
		width: 35.333%;
	}
}


